@font-face {
    font-family: 'spastic_nerfbagregular';
    src: url('fonts/spasn___-webfont.woff2') format('woff2'),
         url('fonts/spasn___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}