.site-header{
    text-align: center;
    text-transform:uppercase;
}

body{
    background: #e6e6e6;
}

img{
    width: 100%;
    height: auto;
}

#nav-arrows a{
    text-decoration: none;
    color: black;
}

.prev{
    position: absolute;
    left: 260px;
    top: 350px;
    font-size: 2em;
}

.next{
    position: absolute;
    right: 260px;
    top: 350px;
    font-size: 2em;
}

main{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

section{
    width: 960px;
    height: 600px;
    background: white;
}

.section-header h2{
    font-family: 'spastic_nerfbagregular';
    font-size: 3rem;
    text-align: left;
    padding-left: 0.5em;
}

.genre-image{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
}

.genre aside{
    background: #2ebd59;
    display: inline-block;
    padding: 1%;
    transform: rotate(10deg);
    position: absolute;
    height: 200px;
    top: 80px;
    right: -80px;
    z-index: 3;
}

.genre aside ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    color: white;
}

.genre aside ul li{
    background: #222222;
    padding: 0.5em;
}

.timeline ul{
    display: flex;
    width: 960px;
    align-items: center;
    justify-content:space-around;
    height: 100px;
    background: linear-gradient(
      to bottom,
      #a52929,
      #a52929 50%,
      #6d1c1c 50%,
      #6d1c1c
    );
    background-size: 100% 18px;
    color: darkgoldenrod;
    margin-left: 0;
    padding-left: 0;
    font-size: 1.5rem;
}

.timeline ul li a{
    color: darkgoldenrod;
    text-decoration: none;
}

.playlist{
    background: #2ebd59;
    display: inline-block;
    padding: 1%;
    /*transform: rotate(10deg);*/
    position: absolute;
    top: 280px;
    right: 370px;
    z-index: 3;
}

.playlist h3{
    color: white;
}

.playlist ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    color: white;
}

.playlist ul li{
    background: #222222;
    padding: 0.5em;
}

.genre{
    background: #333;
    width: 400px;
    padding: 1%;
    color: white;
    position: absolute;
    left: 380px;
    font-size: 0.8rem;
    z-index: 2;
}

.artist a, .genre a{
    color: white;
    text-decoration-style: dotted;
}

.genre-title{
    text-transform: capitalize;
}

.artist{
    background: #333;
    width: 400px;
    padding: 1%;
    color: white;
    position: absolute;
    left: 800px;
    top: 120px;
    font-size: 0.8rem;
    z-index: 1;
}

.artist-desc{
    width: 50%;
    display: inline;
}

.artist-image{
    width: 50%;
    position: absolute;
    top: -40px;
    right: -120px;
    transform: rotate(10deg);
}